*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}


/*---------------------------------------- HEADER ----------------------------------------*/
header{
    width: 100%;
    *position: fixed; /* para que se mantenga por encima de todo*/
    top: 0;
    left: 0;
    background: #fff;
}

/* HEADER SUPERIOR */
.header__superior{
    
    margin: auto;
    display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-between;
    padding: 10px 0.7em;
}

.logo img{
    width: 100px;
    *margin-left: -10%;
}

.search h1{
    margin-top: 14%;
    font-size: 42px;
    *background-color: plum;
}

.search input{
    width: 300px;
    padding: 10px;
}

/* BARRA MENU */
.container__menu{
    width: 100%;
    height: 70px;
    padding: 0px 1.25em;
    *background: #023877;
    *background-color: #0074c7;
    *background-color: rgb(122,198,224);
    background-color: rgb(0, 147, 180);
}

.menu{
    height: 100%;
    margin: auto;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a{
    background-image: url(../../imagenes/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
    border-radius: 0.1em;
}

nav > ul > li:first-child:hover > a{
    background-image: url(../../imagenes/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    transition: all 200ms ease;
    color: #fff;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    *background: #0074c7;
    background: rgb(220, 150, 20);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 0.5em;
}

#selected{
    transform: scale(1.1);
    *background-color: #0074c7;
    background-color: rgb(230, 130, 20);
    *background-color: rgb(122,198,224);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 0.5em;
}

/* SUBMENU */
nav ul li ul{
    width: 200px;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    z-index: 10; /*Para que se ponga encima de cualquier contenido*/
    transition: all 200ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 14px;
    padding: 6px;
    display: block;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 200ms ease;
    color: #0099E9;
    *background-color: plum;
}

nav ul li ul li a:hover{
    *background: #0074C7;
    background-color: rgb(159, 197, 58);
    color: #fff;
    transform: scale(1.1);
    padding-left: 25px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}



/*---------------------------------------- MAIN ----------------------------------------*/
main{
    *background: #f0f0f0;
    margin: 1em 1.25em;
    padding: 0px 0px;
    height: auto;
    *background: plum;
}

.contenedor__principal {
    border-radius: 0.5em;
    display: flex;
    gap: 1em;
    max-height: 700px;
    *background: plum;
}

/* ----- BUSCADOR PERSONAS -----*/
.container__Buscador{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.5em;
    align-items: center;
    text-align: center;
    color: white;
    background-color:plum;
    *background-color: rgb(0, 147, 180);
    background-color:#fff;
}

.container__Buscador form table tr td input{
    width: 50%;
    height: 75%;
    padding: 10px; 
    font-size: 18px;
    font-weight: bolder;
    font-weight: 600;
    border-radius: 0.5em;
    background-color:rgb(159, 197, 58); 
    border-color:rgb(183, 206, 53);
    color: white;
    *background-color: plum;
}

.container__Buscador form table tr td select{
    width: 85%;
    height: 75%;
    padding: 10px; 
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 0.5em;
    border-color: #f0f0f0;
}

.container__Buscador table tr td select option{
    font-size: 18px; 
    font-weight: 600;
}

/* SELECTOR DE FILTRO */
.container_Selector_filtro{
    width: 100%;
    height: 50%;
    *padding: 10% 0px;
    align-items: center;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    *background-color: rgb(85, 168, 196);
    background-color: rgb(122,198,224);
    *background-color:orange;
}

.container_Selector_filtro form{
    height: 100%;
    border-radius: 0.5em;
}

.container_Selector_filtro table{
    width: 100%;
    height: 100%;
    padding: 10% 0px;
    border-radius: 0.5em;
    *background-color: blueviolet;
}

.container_Selector_filtro table tr td h2{
    font-size: 26px;
    font-weight: 800;
    *background-color: plum;
}



/* FILTRO */
.container_Filtro{
    width: 100%;
    height: 50%;
    align-items: center;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background-color: rgb(85, 168, 196);
    *background-color:aquamarine;
}

.container_Filtro form{
    height: 100%;
    border-radius: 0.5em;
}

.container_Filtro table{
    width: 100%;
    height: 100%;
    padding: 10% 0px;
    border-radius: 0.5em;
    *background-color: brown;
}

.container_Filtro table tr td h2{
    font-weight: 800;
    *background-color: plum;
}


/* ----- TABLA -----*/
.tabla_ClientesPersona{
    width: 80%;
    *height: auto;
    background-color: white;
    *background-color: coral;
    overflow-y: scroll;
    overflow-x: scroll;
}

.tabla_ClientesPersona::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

.tabla_ClientesPersona::-webkit-scrollbar-thumb{
    background-color: rgb(159, 186, 196);
    border-radius: 0.5em;
    
}

.tabla_ClientesPersona table{
    width: 2400px;
    *height: 100%;
    color: rgb(0, 147, 180);
    text-align: center;
    background: #f0f0f0;
    *background-color: coral;
    padding: 15px 10px;
    border-radius: 0.5em;
}

.tabla_ClientesPersona table tr th{
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    padding-top: 2px;
    *padding: 5px;
    margin-top: 0;
    color:rgb(159, 197, 58);
}

.tabla_ClientesPersona table tr td{
    text-transform: capitalize;
    text-align: center;
    padding: 4px 0px;
}



/*---------------------------------------- ELEMENTOS RESPONSIVOS ----------------------------------------*/
.icon__menu{
    width: 26px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    height: 100%;
    align-items: center;
    display: none;
}

#label__check{
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}


@media screen and (max-width: 1050px){

   .container__Buscador form table tr td input{
        font-weight: 600;
        font-size: 80%;
        *background-color: plum;
    }

    
    .container__Buscador form table tr td select{
        font-weight: 600;
        font-size: 100%;
        *background-color: plum;
    }
    
    
    .container__Buscador table tr td select option{
        font-size: 14px;
    }

}


@media screen and (max-width: 800px){

    /* ----- HEADER RESPONSIVE -----*/
    .header__superior{
        padding: 10px;
    }

    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .logo img{
        width: 50px;
    }

    
    #label__check{
        display: block;
    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    .search h1{
        margin-top: 14%;
        font-size: 20px;
        *background-color: plum;
    }
    
    .search input{
        display: none;
    }

    #selected{
        transform: scale(1);
    }
    
    nav > ul {
        width: 100%;
        height: 0px;
        flex-direction: column;
        *background-color: #023877;
        background-color: rgb(0, 147, 180);
        position: fixed;
        left: 0;
        top: 147px;
        transition: all 200ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover > ul{
        top: 50px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    /* ----- MAIN RESPONSIVE -----*/
    
    /*BUSCADOR*/
    .container__Buscador{
        width: 100%;
        *background: plum;
    }

    .container__Buscador h3{
        font-size: 20px;
    }

    .container__Buscador form table tr td input{
        font-size: 16px;
        padding: 3%;
        *background-color: plum;
        margin-top: 10px;
    }

    .container__Buscador form table tr td select{
        font-size: 18px;
        padding: 3%;
        *background-color: plum;
        margin-top: 10px;
    }
    
    .container__Buscador table tr td select option{
        font-size: 18px;
        text-align: center;
        display: flex;
    }
    
    /* CONTENEDOR PRINCIPAL*/
    .contenedor__principal {
        display: flex;
        flex-direction: column;
        max-height: 1150px;
    }

    /* TABLA */
    .tabla_ClientesPersona{
        width: 100%;
    }
    
    .tabla_ClientesPersona table{
        padding: 10px; 
    }

}
